@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=SUSE|Hina+Mincho&display=swap');
/***************** MAIN  *****************/
#contents {
	width: 900px;
	margin: 0 auto;
}
article {
	width: 650px;
	float: right;
}
section {
	width: 100%;
	height: 300px;
	margin-top: 50px;
}
.imgR .text {
	width: 50%;
	float: left;
}
.imgR img {
	width: 50%;
	height: 100%;
	object-fit: cover;
	object-position: right top;
	float: right;
}
.imgL .text {
	width: 50%;
	float: right;
}
.imgL img {
	width: 50%;
	height: 100%;
	object-fit: cover;
	object-position: right top;
	float: left;
}
.text {
	background-color: #f5f1e5;
	height: 100%;
}
.text h2{
	font-family: "SUSE","游ゴシック", "Yu Gothic", sans-serif;
	/*font-size: 24px;
	font-weight: bold;
	margin: 10px 50px 50px;*/
}
.text h3 {
	font-family: "Hina Mincho", serif;
	font-size: 20px;
	line-height: 1.5;
	font-weight: bold;
	margin: 10px 50px 10px;
}
.text p {
	font-family: "Hina Mincho", serif;
	font-size: 13px;
	line-height: 1.5;
	margin: 20px 50px 0;
}
/** Side Navigation Bar **/
aside {
	width: 150px;
	margin-top: 50px;
	background-color: #6e6f2b;
	float: left;
}
aside .sideNav_initial {
	display: block;
}
aside .sideNav_sticky {
	display: none;
	position: fixed;
	background-color: #6e6f2b;
	width: 150px;
	top: 0;
}
aside ul li {
	padding: 20px;
	text-align: center;
	border: 1px solid #eee;
	display: block;
	cursor: pointer;
	background-color: #6e6f2b;
	transition: all 1s ease;
}
aside ul li:hover {
	background-color: #b7b87e;
}
aside ul li a {
	font-size: 16px;
	text-decoration: none;
	color: #eee;
	display: block;
}

/***************** MAIN ver2 *****************/
.text .chapTitleL {
	position: relative;
	background-image: url(../images/chapter_bannerL.jpg);
	background-position: left bottom;
	background-size: cover;
	width: 300px;
	height: 110px;
	margin-top: 20px;
	transition: all 1s ease;
}
.text .chapTitleL h2 {
	position: absolute;
	top: 20px;
	right: 30px;
	text-align: right;
	font-size: 24px;
	font-weight: bold;
	color: #fff;
}
.text .chapTitleL h4 {
	position: absolute;
	text-align: right;
	top: 54px;
	right: 30px;
	font-size: 14px;
	color: #fff;
}
.text .chapTitleL .go2page {
	position: absolute;
	width: 50px;
	text-align: center;
	top: 64px;
	right: 30px;
	font-size: 20px;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 10px;
}
.text .chapTitleR {
	position: relative;
	background-image: url(../images/chapter_bannerR.jpg);
	background-position: right bottom;
	background-size: cover;
	width: 300px;
	height: 110px;
	transform: translateX(25px);
	margin-top: 20px;
	transition: all 1s ease;
}
.text .chapTitleR h2 {
	position: absolute;
	top: 20px;
	left: 30px;
	text-align: left;
	font-size: 24px;
	font-weight: bold;
	color: #fff;
}
.text .chapTitleR h4 {
	position: absolute;
	text-align: left;
	top: 54px;
	left: 30px;
	font-size: 14px;
	color: #fff;
}
.text .chapTitleL:hover,
.text .chapTitleR:hover {
	opacity: 0.5;
}

/*****  *****/ 
@media screen and (max-width: 768px) {
	#contents {
		width: 95%;
		margin: 0 auto;
	}
	article {
	    width: 100%;
	    float: none;
	}
	aside {
		display: none;
	}
	.imgR .text {
	    width: 100%;
	    float: none;
	    margin: 0 auto;
	}
	.imgR img {
	    width: 100%;
	    height: 300px;
	    float: none;
	    margin: 0 auto;
	    object-fit: contain;
		object-position: right top;
	}
	section {
	    height: 100%;
	    margin-top: 20px;
	}
	.imgL .text {
	    width: 100%;
	    float: none;
	    margin: 0 auto;
	}
	.imgL img {
	    width: 100%;
	    height: 300px;
	    float: none;
	    margin: 0 auto;
		object-fit: contain;
		object-position: right top;
	}
	.text .chapTitleR {
		transform: unset;
	}
}
