@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=SUSE|Hina+Mincho&display=swap');
/***************** MAIN  *****************/
#contents {
	width: 900px;
	margin: 0 auto;
}
article {
	width: 650px;
	float: right;
}
section {
	width: 100%;
	margin-top: 50px;
}
.imgR .text {
	width: 45%;
	float: left;
}
.imgR img {
	width: 50%;
	height: 100%;
	object-fit: cover;
	object-position: right top;
	float: right;
}
.imgL .text {
	width: 45%;
	height: 100%;
	float: right;
}
.imgL img {
	width: 50%;
	height: 100%;
	object-fit: cover;
	object-position: right top;
	float: left;
}
.text {
	background-color: #f5f1e5;
	height: 100%;
}

.text h2{
	font-family: "SUSE","游ゴシック", "Yu Gothic", sans-serif;
	/*font-size: 24px;
	font-weight: bold;
	margin: 10px 50px 50px; */
}
.text h3 {
	font-family: "Hina Mincho", serif;
	font-size: 20px;
	line-height: 1.5;
	font-weight: bold;
	margin: 10px 50px 10px;
}
.text p {
	font-family: "Hina Mincho", serif;
	font-size: 13px;
	line-height: 1.5;
	margin: 40px 50px 0;
}

.text .chapTitleL {
	position: relative;
	background-image: url(../images/chapter_bannerL.jpg);
	background-position: left bottom;
	background-size: cover;
	height: 110px;
	margin: 20px 20px 0 0;
	transition: all 1s ease;
}
.text .chapTitleL h2 {
	position: absolute;
	top: 20px;
	right: 30px;
	text-align: right;
	font-size: 24px;
	font-weight: bold;
	color: #fff;
}
.text .chapTitleL h4 {
	position: absolute;
	text-align: right;
	top: 54px;
	right: 30px;
	font-size: 14px;
	color: #fff;
}
.text .chapTitleR {
	position: relative;
	background-image: url(../images/chapter_bannerR.jpg);
	background-position: right bottom;
	background-size: cover;
	height: 110px;
	margin: 20px 0 0 20px;
	transition: all 1s ease;
}
.text .chapTitleR h2 {
	position: absolute;
	top: 20px;
	left: 30px;
	text-align: left;
	font-size: 24px;
	font-weight: bold;
	color: #fff;
}
.text .chapTitleR h4 {
	position: absolute;
	text-align: left;
	top: 54px;
	left: 30px;
	font-size: 14px;
	color: #fff;
}
.text h4 {
	font-family: "Hina Mincho", serif;
}
.text .chapTitleL:hover,
.text .chapTitleR:hover {
	opacity: 0.5;
}
/********  RESPONSIVE  *********/
@media screen and (max-width: 768px) {
	#contents {
		width: 100%;
		margin: 0 auto;
	}
	.imgR .text {
		width: 100%;
		float: none;
		height: 300px !important;
	}
	.imgR img {
		width: 100%;
		height: 300px;
		object-position: right bottom;
		float: none;
	}
	.imgL .text {
		width: 100%;
		float: none;
		height: 300px !important;
	}
	.imgL img {
		width: 100%;
		height: 300px;
		object-position: right top;
		float: none;
	}
	.text p {
		margin: 20px 40px 0;
	}
}
